# QR_4LL

<br> __Author:__ Marcelo Gabriel Gonzalez
<br> __Email:__ marcelo.g.gonzalez95@gmail.com

In [2]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql import SparkSession
import pandas as pd
from datetime import date, timedelta
from matplotlib import pyplot as plt
import matplotlib as mpl

spark = SparkSession.builder.getOrCreate()

In [2]:
import os
os.getcwd()

'g:\\Mi unidad\\DATA\\PySpark\\QR_4LL\\Q-C_4LL'

In [3]:
df = spark.read.csv('bank-full.csv',sep=",",header = True,inferSchema = True)

In [4]:
df.show(1,vertical = True)

-RECORD 0---------------
 age       | 58
 job       | management
 marital   | married
 education | tertiary
 default   | no
 balance   | 2143
 housing   | yes
 loan      | no
 contact   | unknown
 day       | 5
 month     | may
 duration  | 261
 campaign  | 1
 pdays     | -1
 previous  | 0
 poutcome  | unknown
 Target    | no
only showing top 1 row

## Example

### Individual execution

In [10]:
a = R_1_2(df, "job")
a.compliance

NameError: name 'R_1_2' is not defined

### Execution in for loop

In [9]:
for i in df.columns:
    print(i, ':', R_1_2(df, i).compliance)

NameError: name 'df' is not defined

### Executing multiple rules

In [6]:
lista = []

R_1_1(df, "job", "str").save(lista)
R_1_2(df, "job").save(lista)
R_1_3_C(df, "balance", "<", 0).save(lista)
R_1_4(df, "balance", 0, 99999).save(lista)
R_1_5(df, "housing", ["yes","no"]).save(lista)
R_1_6(df,'marital').save(lista)
R_1_7(df, "age").save(lista)

NameError: name 'R_1_1' is not defined

In [ ]:
res = finish_report(lista)

In [ ]:
plot_report(res)

In [ ]:
compliance(res)