# QR_4LL - Examples

<br> __Author:__ Marcelo Gabriel Gonzalez
<br> __Email:__ marcelo.g.gonzalez95@gmail.com

In [3]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
import sys
#import pandas as pd
#from matplotlib import pyplot as plt
#import matplotlib as mpl
spark = SparkSession.builder.getOrCreate()

In [6]:
from QR_4LL_Classes import *

In [7]:
#%run "G:/Mi unidad/DATA/PySpark/QR_4LL/Q-C_4LL/QR_4LL-Classes.ipynb"

In [7]:
df = spark.read.csv('bank-full.csv',sep=",",header = True,inferSchema = True)

In [8]:
df.show(1,vertical = True)

-RECORD 0---------------
 age       | 58
 job       | management
 marital   | married
 education | tertiary
 default   | no
 balance   | 2143
 housing   | yes
 loan      | no
 contact   | unknown
 day       | 5
 month     | may
 duration  | 261
 campaign  | 1
 pdays     | -1
 previous  | 0
 poutcome  | unknown
 Target    | no
only showing top 1 row

## Example

### Individual execution

In [9]:
a = R_1_2(df, "job")
a.compliance

100.0

### Execution in for loop

In [10]:
for i in df.columns:
    print(i, ':', R_1_2(df, i).compliance)

age : 100.0
job : 100.0
marital : 100.0
education : 100.0
default : 100.0
balance : 100.0
housing : 100.0
loan : 100.0
contact : 100.0
day : 100.0
month : 100.0
duration : 100.0
campaign : 100.0
pdays : 100.0
previous : 100.0
poutcome : 100.0
Target : 100.0

### Executing multiple rules

In [23]:
lista = []

#R_1_1(df, "job", "str").save(lista)
#R_1_2(df, "job").save(lista)
#R_1_3_C(df, "balance", "<", 0).save(lista)
#R_1_4(df, "balance", 0, 99999).save(lista)
#R_1_5(df, "housing", ["yes","no"]).save(lista)
#R_1_6(df, "balance", '[^ ]+').save(lista)
#R_2_1(df, "age").save(lista)
#R_2_3(df, "age","<", "balance").save(lista)
#R_2_4(df, "age" , F.count, ">", 3).save(lista)

In [24]:
lista

[]

In [26]:
# results = finish_report(lista).show()
# results.show()

NameError: name 'spark' is not defined

In [15]:
# plot_report(results)

In [16]:
# compliance(results_df)